.subtasks {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  flex-wrap: wrap-reverse;
  gap: 50px;
}
.subtasks .task-description {
  min-width: 300px;
}
.subtasks .task-description .flex {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.subtasks .task-description .flex .type {
  font-weight: 600;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 10px;
}
.subtasks .task-description .flex .type.red {
  background-color: #ffc2c2;
  color: #ff0000;
}
.subtasks .task-description .flex .type.blue {
  background-color: #b8e0f7;
  color: #0015ff;
}
.subtasks .task-description .flex .type.yellow {
  background-color: #ffefd1;
  color: #ff9d00;
}
.subtasks .task-description .flex .type.green {
  background-color: #bfefac;
  color: #32b000;
}
.subtasks .task-description .flex .type.purple {
  background-color: #f6c0f6;
  color: #9b009b;
}
.subtasks .task-description h2 {
  margin-bottom: 10px;
  font-weight: 100;
  color: #000;
  font-size: 15px;
}
.subtasks .task-description h3 {
  margin-bottom: 0;
}
.subtasks .task-description p {
  color: grey;
  max-width: 500px;
  width: fit-content;
}
.subtasks .subtasks_list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 15px;
}
.subtasks .subtasks_list .flex {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtasks .subtasks_list .flex button {
  background-color: transparent;
  color: #365eff;
  border: 2px solid #365eff;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.subtasks .subtasks_list .flex button:hover {
  background-color: #365eff;
  color: white;
}
.subtasks .subtasks_list form .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subtasks .subtasks_list form .inputs h4 {
  margin-bottom: 10px;
}
.subtasks .subtasks_list form .inputs input,
.subtasks .subtasks_list form .inputs textarea {
  resize: none;
  background-color: #e4e4e4;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.subtasks .subtasks_list form button {
  margin-bottom: 20px;
  background-color: transparent;
  color: #365eff;
  border: 2px solid #365eff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.subtasks .subtasks_list form button:hover {
  background-color: #365eff;
  color: white;
}
.subtasks .subtasks_list .subtask {
  background-color: #e4e4e4;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 15px;
  min-width: 500px;
  justify-content: space-between;
}
.subtasks .subtasks_list .subtask.checked {
  border: #0b76ef 1px solid;
}
.subtasks .subtasks_list .subtask.checked h4 {
  text-decoration: line-through;
}
.subtasks .subtasks_list .subtask .text {
  width: 100%;
}
.subtasks .subtasks_list .subtask .text .description {
  color: #6b6b6b;
  font-size: 12px;
  max-width: 400px;
  text-wrap: wrap;
}
.subtasks .subtasks_list .subtask form.text {
  display: flex;
  flex-direction: column;
}
.subtasks .subtasks_list .subtask form.text input {
  font-size: 1em;
  font-weight: 600;
}
.subtasks .subtasks_list .subtask form.text input,
.subtasks .subtasks_list .subtask form.text textarea {
  outline: none;
  background-color: transparent;
  border: none;
}
.subtasks .subtasks_list .subtask form.text textarea {
  margin-bottom: 10px;
}
.subtasks .subtasks_list .subtask form.text button {
  margin-bottom: 0px;
}
.subtasks .subtasks_list .subtask .settings {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.subtasks .subtasks_list .subtask .settings button {
  cursor: pointer;
  border: none;
  padding: 3px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.subtasks .subtasks_list .subtask .settings button:hover {
  background-color: #dfdfdf;
}
.subtasks .subtasks_list .subtask .settings button:hover img {
  transform: scale(0.9);
}
.subtasks .subtasks_list .subtask .settings button img {
  transition: all 0.3s ease;
}
.subtasks .subtasks_list .subtask .checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.subtasks .subtasks_list .subtask .checkbox input + label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.subtasks .subtasks_list .subtask .checkbox input + label::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.subtasks .subtasks_list .subtask .checkbox input:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
