header.head-project {
  margin-left: 20px;
  margin-top: 20px;
  border-bottom: 1px #e7e7e7 solid;
  margin-right: 30px;
}
header.head-project .top {
  display: flex;
  justify-content: space-between;
}
