header.aside {
  position: fixed;
  width: 80px;
  height: 100vh;
  border-right: 2px solid #e7e7e7;
}
header.aside .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.aside .logo img {
  width: 50px;
  height: 50px;
}
header.aside nav {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
header.aside nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}
header.aside nav a img {
  transform: translateY(10px);
  transition: all 0.3s ease;
  width: 25px;
  height: 25px;
}
header.aside nav a p {
  transition: all 0.5s 0.1s ease;
  color: #757575;
  opacity: 0;
  font-size: 15px;
}
header.aside nav a:hover img {
  transform: translateY(0px);
}
header.aside nav a:hover p {
  transform: translateY(-5px);
  opacity: 1;
}
