section.home {
  margin: 30px 20px;
}
section.home h2 {
  margin-bottom: 10px;
}
section.home h3.subtitle {
  font-weight: 100;
  color: #989898;
}
section.home article.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}
section.home article.projects .project {
  background-color: #efefef;
  min-width: 200px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #d8d8d8;
}
section.home article.projects .project .img {
  height: 100%;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  float: left;
  justify-content: center;
  align-items: center;
}
section.home article.projects .project .text-content h4 {
  color: black;
  display: inline-block;
  grid-area: b;
  font-size: 15px;
  margin-bottom: 2px;
}
section.home article.projects .project .text-content p {
  color: grey;
  font-size: 12px;
  grid-area: c;
  max-width: 500px;
}
section.home article.projects .project .bottom {
  border-top: 1px solid #d6d6d6;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
section.home article.projects .project .bottom .complete {
  font-weight: 600;
  color: black;
}
section.home article.projects .project .bottom .isComplete {
  color: green;
}
section.home article.projects .project .bottom .buttons {
  display: flex;
  gap: 10px;
}
section.home article.projects .project .bottom .buttons button {
  border: 1px solid #d6d6d6;
  padding: 3px;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
section.home article.projects .project .bottom .buttons button:hover {
  background-color: #e0e0e0;
}
section.home article.projects .project .bottom .buttons button:hover img {
  transform: scale(0.9);
}
section.home article.projects .project .bottom .buttons button img {
  transition: all 0.3s ease;
}
