footer {
  padding-left: 20px;
  padding: 80px 30px;
  margin-left: 80px;
  padding-top: 80px;
  padding-right: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #e7e7e7;
  background-color: #efefef;
}
footer .left-right {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .left-right .left {
  flex-wrap: wrap;
}
footer .left-right .left p {
  color: #383838;
  max-width: 400px;
}
footer .left-right .right button {
  background-color: transparent;
  color: #365eff;
  border: 2px solid #365eff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}
footer .left-right .right button:hover {
  background-color: #365eff;
  color: white;
}
footer .bottom {
  color: #bbbbbb;
  text-align: right;
}
