section.overview h3 {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  color: #8a8a8a;
  margin-bottom: 10px;
  font-weight: 100;
}
section.overview h3 span {
  font-weight: 600;
  color: #343434;
  margin-bottom: 20px;
}
section.overview p.description {
  text-indent: 30px;
  margin-bottom: 20px;
  max-width: 500px;
  width: auto;
}
