div.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}
div.progress .project-emoji {
  font-size: 20px;
  padding: 5px;
  border-radius: 50%;
}
div.progress .code h3 {
  font-size: 20px;
  margin-bottom: 0;
  margin-bottom: 2px;
  color: #292929;
}
div.progress .code .progress_bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
div.progress .code .progress_bar progress {
  width: 20vw;
  outline: none;
}
div.progress .code .progress_bar p {
  color: #999;
  font-size: 13px;
}
