article.projects_list {
  margin-bottom: 50px;
}
article.projects_list div.projects_list_list ul {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
article.projects_list div.projects_list_list ul li a {
  position: relative;
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  min-width: 180px;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
  align-items: center;
}
article.projects_list div.projects_list_list ul li a:hover {
  background-color: #e7e7e7;
}
article.projects_list div.projects_list_list ul li a .info {
  display: flex;
  align-items: center;
  gap: 5px;
}
article.projects_list div.projects_list_list ul li a .info .image {
  background-color: white;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 30px;
  border-radius: 10px;
}
article.projects_list div.projects_list_list ul li a .info p {
  font-weight: 500;
  color: black;
  font-size: 13px;
}
article.projects_list div.projects_list_list ul li a .menu {
  position: absolute;
  right: -90px;
  top: -65px;
  z-index: 2;
  background-color: #e7e7e7;
  border-radius: 8px;
}
article.projects_list div.projects_list_list ul li a .menu table {
  border-radius: 8px;
  border-collapse: collapse;
  border: none;
}
article.projects_list div.projects_list_list ul li a .menu table tr {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 10px;
  border: 1px solid #bebebe;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px 10px;
  color: black;
  font-weight: 600;
}
article.projects_list div.projects_list_list ul li a .menu table tr:nth-child(2) {
  border-bottom: none;
  color: #c20000;
}
article.projects_list div.projects_list_list ul li a .dop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
article.projects_list div.projects_list_list ul li a .dop:hover {
  background-color: #d5d5d5;
}
article.projects_list div.projects_list_list ul li a.active {
  background-color: #365eff;
}
article.projects_list div.projects_list_list ul li a.active .dop:hover {
  background-color: #3054e3;
}
article.projects_list div.projects_list_list ul li a.active p {
  color: white;
}
article.projects_list div.projects_list_list .show_all {
  font-size: 15px;
  color: #365eff;
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
form.change-project {
  margin-top: 20px;
  background-color: transparent;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translate(0%, 0%);
  min-height: auto;
  height: auto;
  min-width: auto;
  width: auto;
  backdrop-filter: blur(0px);
  border: transparent;
  box-shadow: 0 0 0px;
  padding: 0px 0px;
}
form.change-project button {
  position: relative;
  z-index: 10000000;
}
form.change-project button::after {
  position: relative;
  z-index: 10000000;
}
